<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>로그인</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
    <div th:if="${error}">
        <p th:text="${error}" style="color:red;"></p>
    </div>
</form>

</body>
</html>
